a {
  text-decoration: none;
  color: navy;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  color: navy;
}

.header-wrapper{
  display: flex;
}

.ttl {
  width: 80px;
  color: navy;
  font-size: 20px;
  padding-right: 600px;
}
.nav-list {
  display: flex;
  font-weight: bold;
  padding-left: 100px;
}
.nav-item:not(:last-child) {
  margin-right: 30px;
}

.box {
  width: 780px;
  height: 120px;
  background-color: navy;
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 1;
}

.fimg {
  position: relative;
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
  z-index: 3;
}

.bn {
  position: absolute;
  top: 70%;
  left: 0;
  font-size: 50px;
  font-weight:400;
}

.nav {
  text-align: right;
  font-size: 16px;
  font-weight: bolder;
  color: navy;
}
